.navbar {
	background: rgba(255,255,255,0.8);
}

footer {
	background: #005299;
	color: #FFF;
	text-align: center;
	padding: 20px 0;
}

footer a {
	color: #FFF;
	margin: 10px;
	font-size: 20px;
}

footer a:hover {
	color: #000;
	text-decoration: none;
}
