body{
	font-family: arial,Verdana;
	background-color: #CCC;
}
fieldset{
	border:2px solid #333;
}
h1{
	font-family: thomas;
	color: grey;
}
label{
	width: 100%;
	font-weight: bold;
}

input[type=text], input[type=number], input[type=email], select, textarea {
	width: 100%;
	border-radius: 10px;
	border: 0;
	padding: 5px;
	margin: 5px 0 5px 0;
	box-shadow: 0px 0px 2px #000;
	font: 13px Arial;
}

button {
	border: 0;
	border-radius: 2px;
	background: green;
	color: #FFF;
}
